
@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Todos los Restaurantes</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

    
@*~*@
<div>
    <a asp-action="Create">Agregar restaurante</a>
</div>

